

<ion-button color="dark" id="open-modal" expand="block" shape="round">
  <ion-label>Aggiungi prodotto</ion-label>
  <ion-icon name="add"></ion-icon>
</ion-button>

<ion-modal trigger="open-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="cancel()">
            <ion-icon name="close" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid [formGroup]="newProductGroup">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Descrizione</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-input placeholder="Inserisci descrizione" formControlName="description"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Prezzo</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-input placeholder="Inserisci prezzo" formControlName="price"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Categoria</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-input placeholder="Inserisci categoria" formControlName="category"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Impiegato</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-input placeholder="Inserisci impiegato" formControlName="employee"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
    
        <ion-row formArrayName="reviews">
          <ion-col>
            <ion-list>
              <ion-item lines="none">
                <ion-label>Recensioni</ion-label>
                <ion-button shape="round" color="dark" (click)="addReview()">
                  <ion-icon slot="icon-only" name="add"></ion-icon>
                </ion-button>
              </ion-item>
              @for (review of recensioni.controls; track review; let i = $index) {
                <ion-item>
                  <ion-input placeholder="Nuova recensione" [formControlName]="i"></ion-input>
                  <ion-button shape="round" color="dark" (click)="removeReview(i)">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                  </ion-button>
                </ion-item>
              }
            </ion-list>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" color="dark" fill="solid" shape="round">
            Crea prodotto
          </ion-button>
          @if (!isLoading && !!error) {
            <ion-alert header="Error" [message]="error" isOpen="true" [buttons]="['Ok']"/>
          }
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>


  
