<ion-grid>

  <ion-row>
    <ion-col class="col-cancel-product">
      <ion-button [attr.data-cy]="'delete-' + product.id" shape="round" size="small" color="danger" (click)="delete()" [disabled]="!product.id">
        Elimina prodotto
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <app-product-property [label]="'Descrizione'" [prop]="'description'" [value]="data.description"></app-product-property>
    </ion-col>
    <ion-col>
      <app-product-property [label]="'Prezzo'" [prop]="'price'" [value]="data.price"></app-product-property>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <app-product-property [label]="'Categoria'" [prop]="'category'" [value]="data.category"></app-product-property>
    </ion-col>
    <ion-col>
      <app-product-property [label]="'Impiegato'" [prop]="'employee'" [value]="data.employee"></app-product-property>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item lines="none">
          <ion-label>Recensioni</ion-label>
        </ion-item>
        @for (review of data.reviews; track review) {
          <ion-item>
            <p data-cy="product-reviews">{{review}}</p>
          </ion-item>
        } @empty {
          <ion-item>
            <p>Nessuna recensione</p>
          </ion-item>
        }
      </ion-list>
    </ion-col>
  </ion-row>
  
</ion-grid>
