<ion-header [translucent]="true" data-cy="home-header">
  <ion-toolbar data-cy="home-header-toolbar">
    <ion-title>
      @if (isStoreLoading) {
        <ion-skeleton-text animated style="height: 40px"></ion-skeleton-text>
      } @else if (error) {
        <ion-alert header="Error" [message]="error" isOpen="true" [buttons]="['Ok']"/>
      }

      @if (storeName) {
        {{storeName}}
      }
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" data-cy="home-content">
  @if (isProductsLoading) {
    <ion-list>
      @for (i of dummyProducts; track i) {
        <ion-item lines="none">
          <ion-skeleton-text animated style="height: 40px"></ion-skeleton-text>
        </ion-item>
      }
    </ion-list>
  } @else if (error) {
    <ion-alert header="Error" [message]="error" isOpen="true" [buttons]="['Ok']"/>
  }

  <ion-accordion-group>
    @if (!isProductsLoading) {
      <ion-item>
        <app-product-create (productCreated)="addProduct($event)"></app-product-create>
      </ion-item>
    }

    @for (product of products; track product.id) {
      <ion-accordion>
        <ion-item lines="none" slot="header">
          <ion-label data-cy="home-content-product-title">{{product.data.title}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
            <app-product [product]="product" (deleteProd)="deleteProduct($event)"></app-product>
        </div>
      </ion-accordion>
    } @empty {
      @if (!isProductsLoading) {
        <ion-item lines="none">
          <p>Nessun prodotto disponibile</p>
        </ion-item>
      }
    }
  </ion-accordion-group>

  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Caricamento prodotti..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
